doctype html
head
    title= 'Home Page'
body
    if(error)
        script.
            alert(`#{error}`)
    h1 Welcome to Home Page!
    h2 Let's sign up an account!
    form(action="/signUp" method='post')
        lable email: 
            input(type="email" name="email") 
        br
        br
        lable password: 
            input(type="password" name="password")
        br
        br
        button Sign Up!
    br
    h2 Already have an account?
    h3 Let's sign in!
    form(action="/signIn" method='post')
        lable email: 
            input(type="email" name="email") 
        br
        br
        lable password: 
            input(type="password" name="password")
        br
        br
        button Sign In!